{% extends 'base.html' %}

{% load static %}

{% block title %}Про нас{% endblock %}
{% block meta %}{% endblock %}}

{% block og_title %}Про нас{% endblock %}
{% block og_description %}{% endblock %}

{% block og_image %}{{ request.build_absolute_uri }}{% static 'img/icons/logo/donatan-black-logo.svg' %}{% endblock %}
{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}

{% block content %}

    <!-- --------- Breadcrumb Section --------- -->

    <section>
        <div class="container breadcrumb">
            <p>
                <a href="{% url 'pages:index' %}">Головна</a> /
                <a href="" style="color: #9DB2BF;">Про нас</a>
            </p>
        </div>
    </section>

    <!-- --------- End Breadcrumb Section --------- -->

    <!-- --------- About Us Section --------- -->
    <section class="about-us-section container">
        
        <div class="about-us">
            <div class="grid grid--2-cols-reverse">
                <div class="about-us-img">
                    <img
                            src="{% static 'img/about/about_donatan-6.webp' %}"
                            alt="Про нас"
                            class="border-img"
                    />
                </div>
                <div class="text-about-us">
                    <h2 class="heading-primary">
                        Про нашу компанію
                    </h2>
                    <p
                            class="about-us-description"
                            style="padding-right: 5rem"
                    >
                        Компанія Donatan – український бренд, котрий спеціалізується на виготовленні колясок, а також
                        інших товарів з цієї категорії, таких, як дитячі крісла та гойдалки. Наша компанія з’явилася на
                        ринку ще у 2008 році. За час свого існування ми зуміли завоювати повагу та довіру споживачів,
                        котрі оцінили високі експлуатаційні характеристики нашої продукції.
                    </p>
                </div>
            </div>
            <div class="grid grid--2-cols">
                <div class="text-about-us">
                    <h2 class="heading-primary">
                        Висока Якість та Безпека з Дитячими Колясками Donatan
                    </h2>
                    <p
                            class="about-us-description"
                    >
                        Покупка дитячої коляски – одна з першочергових справ у кожній родині, де очікують на появу
                        малюка. Усі люблячі батьки прагнуть дати своїй дитині найкраще. Ми розділяємо ваше бажання та
                        втілюємо його у своїй роботі. <br> <br>
                        Виготовляючи дитячі коляски, ми неухильно дотримуємось ряду принципів.
                        Безпека дитини – передусім! Конструкції дитячих колясок Donatan міцні, кріплення – надійні,
                        матеріали – екологічно чисті.
                        Наша продукція створена для комфорту матері та дитини. Дитячі коляски Donatan легкі в керуванні,
                        забезпечують зручне розміщення малюка.
                    </p>
                </div>
                <div class="about-us-img">
                    <img
                            src="{% static 'img/about/about_donatan-2.webp' %}"
                            alt="Про нас"
                            class="border-img"
                    />
                </div>
            </div>

            <div class="grid grid--2-cols-reverse">
                <div class="about-us-img">
                    <img
                            src="{% static 'img/about/about_donatan-5.webp' %}"
                            alt="Про нас"
                            class="border-img display-pc"
                    />
                </div>
                <div class="text-about-us">
                    <h2 class="heading-primary">
                        Donatan – надійний партнер у щоденних прогулянках
                    </h2>
                    <p
                            class="about-us-description"
                            style="padding-right: 5rem"
                    >
                        Усі представлені нами моделі – універсальні та багатофункціональні. Вони розраховані на дітей
                        від народження до 3-4 років. Практичність наших колясок забезпечена рядом корисних додаткових
                        опцій. Кожна деталь ретельно продумана для зручності як батьків, так і малюків.
                        <br>
                        <br>
                        Наші коляски легко трансформуються, адаптуючись до потреб дитини на кожному етапі її зростання.
                        Зручні регульовані спинки та підніжки дозволяють створити комфортне місце для сну і відпочинку.
                        Завдяки великим маневровим колесам, коляски Donatan чудово підходять для будь-яких типів доріг,
                        забезпечуючи плавний хід навіть на нерівній поверхні.
                    </p>
                </div>
            </div>
            <div class="grid grid--2-cols">
                <div class="text-about-us">
                    <h2 class="heading-primary">Donatan - Made with Love</h2>
                    <p
                            class="about-us-description"
                    >
                        Окрім всього зазначеного, ми не забуваємо про стильний вигляд нашої продукції. Дитяча коляска –
                        перший «транспорт» малюка, яким, здебільшого, доводиться керувати мамі. Серед усього нашого
                        асортименту вона зможе обрати варіант, що стане втіленням її відчуттів материнства.
                        Дитяча коляска Donatan забезпечить Вам впевненість у безпеці та надійності, подарує комфорт
                        користування, а також естетичне задоволення.
                    </p>
                </div>
                <div class="about-us-img">
                    <img
                            src="{% static 'img/about/about_donatan-4.webp' %}"
                            alt="Про нас"
                            class="border-img"
                    />
                </div>
            </div>
        </div>
    </section>

    <!-- --------- End About Us Section --------- -->

{% endblock %}

{% block script %}

{% endblock %}
