{% load static %}

<footer class="footer">
    <div class="footer-container">
        <div class="footer-top">
            <img
                    src="{% static 'img/icons/logo/donatan_white_logo.svg' %}"
                    alt="Logo"
                    class="footer-logo"
                    fill="currentColor"
            />
            <nav class="footer-nav">
                <ul>
                    <li><a href="{% url 'pages:index' %}">Головна</a></li>
                    <li><a href="{% url 'catalog:catalog' %}">Каталог</a></li>
                    <li><a href="{% url 'pages:about' %}">Про нас</a></li>
                    <li><a href="{% url 'pages:contacts' %}">Контакти</a></li>
                    <li><a href="{% url 'pages:contacts' %}">Співпраця</a></li>
                    <li><a href="#">Гарантія</a></li>
                </ul>
            </nav>
            <div>
                <button class="contact-btn"><a href="https://www.instagram.com/donatan.ua?igsh=MTZqdGRicXp1MTZvbw=="
                                               target="_blank">Instagram</a></button>
                <button class="contact-btn"><a href="https://www.youtube.com/@donatanlviv" target="_blank">Youtube</a>
                </button>
                <button class="contact-btn"><a href="https://www.facebook.com/donatan.com.ua/"
                                               target="_blank">Facebook</a></button>
            </div>
        </div>
        <div class="footer-bottom">
            <p>
                © Copyright 2008 - {% now 'Y' %}
            </p>
            <p>
                <a href="#">Політика конфіденційності</a> |
                donatan.com.ua
            </p>
        </div>
    </div>
</footer>
