{% load static %}

<!-- --------- Black Icon Bottom --------- -->
<div class="floating-btn" id="contactBtn">
    <span class="icon">💬</span>
</div>
<div class="floating-menu" id="contactMenu">
    <a href="#">
        <img src="{% static 'img/icons/viber-chat-app-svgrepo-com.svg' %}"
             alt="Viber"/>Viber
    </a>
    <a href="https://t.me/markiian_developer" target="_blank">
        <img src="{% static 'img/icons/telegram-svgrepo-com.svg' %}" alt="Telegram"/>
        Telegram
    </a>
    <a href="#">
        <img src="{% static 'img/icons/whatsapp-whats-app-svgrepo-com.svg' %}" alt="WhatsApp"/>
        WhatsApp
    </a>
    <div class="close-btn" id="closeBtn">✖</div>
</div>
<!-- --------- End Black Icon Bottom --------- -->