:root {
    /**
     * COLORS
     */

    /** Background colors */
    --bg-wild-blue-yonder: hsla(216, 33%, 68%, 1);
    --bg-test: rgba(159, 114, 255, 0.8);
    --bg-carolina-blue: #00bd91;
    --bg-prussian-blue: hsl(0, 0%, 100%);
    --bg-oxford-blue: hsl(0, 0%, 100%);
    --bg-oxford-blue-2: hsl(0, 0%, 95%);
    --bg-oxford-blue-3: #f0f0f0;

    /** Text colors */
    --text-white: hsl(0, 0%, 96%);
    --text-alice-blue: hsl(0, 0%, 5%);
    --text-columbia-blue: hsl(0, 2%, 9%);
    --text-wild-blue-yonder: hsl(0, 0%, 0%);
    --text-carolina-blue: hsl(287, 96%, 26%);
    --text-shadow-blue: hsla(217, 24%, 59%, 1);
    --text-slate-gray: hsla(217, 17%, 48%, 1);

    /** Gradient colors */
    --gradient-1: linear-gradient(90deg, #5fea0e, #0bd1d1 51%);
    --gradient-2: linear-gradient(90deg, #ea9d0e, #0bd1d1 51%, #5f0eea);
    --gradient-3: linear-gradient(0deg, #000d1a, transparent);

    /** Border colors */
    --border-wild-blue-yonder: hsla(216, 33%, 68%, 1);
    --border-prussian-blue: hsl(216, 32%, 33%);
    --border-white: hsl(0, 0%, 100%);
    --border-white-alpha-15: hsla(0, 0%, 100%, 0.15);

    /** Default colors */
    --white: hsl(0, 0%, 100%, 1);
    --black: hsl(0, 0%, 0%, 1);

    /**
     * TYPOGRAPHY
     */

    /** Font family */
    /* --fontFamily-noto_sans: 'Noto Sans', sans-serif; */
    /* --fontFamily-noto_sans: "Montserrat", sans-serif; */

    /** Font size */
    --fontSize-1: 2.9rem;
    --fontSize-2: 2rem;
    --fontSize-3: 1.8rem;
    --fontSize-4: 1.6rem;
    --fontSize-5: 1.5rem;
    --fontSize-6: 1.4rem;
    --fontSize-7: 1.2rem;
    --fontSize-8: 1.3rem;

    /** Font weight */
    --weight-medium: 500;
    --weight-semiBold: 600;
    --weight-bold: 700;
    --weight-extraBold: 800;

    /** Line height */
    --lineHeight-1: 1.3;
    --lineHeight-2: 1.5;
    --lineHeight-4: 1.2;

    /**
     * BOX SHADOW
     */

    --shadow-1: 0 8px 20px 0 hsla(0, 0%, 0%, 0.05);
    --shadow-2: 0px 3px 20px hsla(0, 0%, 0%, 0.2);

    /**
     * BORDER RADIUS
     */

    --radius-6: 8px;
    --radius-8: 8px;
    --radius-16: 12px;
    --radius-48: 48px;
    --radius-circle: 50%;
    --radius-pill: 200px;

    /**
     * SPACING
     */

    --section-padding: 40px;
    --mt-3: 3rem;
    --mt-5: 5rem;
    --mt-8: 8rem;
    --mt-10: 10rem;

    /**
     * TRANSITION
     */

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #21252a;
    overflow-x: hidden;
    padding-top: 7rem;
}

a {
    text-decoration: none;
}


/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #000;
}

::-webkit-scrollbar-thumb:hover {
    background: #000;
}

body {
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
    background: #000;
}

body::-webkit-scrollbar-thumb:hover {
    background: #000;
}

/* ------------ General ------------ */
.display-mob {
    display: none;
}

.display-pc {
    display: block;
}

.container {
    /* 1140px or 1200px Standart */
    max-width: 135rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
}

.grid-footer {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
}

.grid-catalog {
    display: grid;
    column-gap: 4rem;
    row-gap: 4rem;
    margin-top: 5rem;
}

.grid:not(:last-child) {
    margin-bottom: 7.6rem;
}

.grid--center-v {
    align-items: center;
}

.grid--2-cols {
    grid-template-columns: 1fr 0.8fr;
    gap: 8.4rem;
}

.grid--2-cols-reverse {
    grid-template-columns: 0.7fr 1fr;
    gap: 8.4rem;
}

.grid--2-cols-product {
    grid-template-columns: 1fr 1fr;
    gap: 6.4rem;
}

.grid--2-cols-footer {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.grid--4-cols {
    flex-basis: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 7.4rem;
}

.grid--5-cols {
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.grid--6-cols {
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    margin-top: 12.4rem;
    gap: 1.4rem;
}

.responsive-image {
    width: 100%;
    height: auto;
    display: block;
}

.heading-without-line,
.heading-primary,
.heading-primary-right,
.heading-primary-left,
.heading-primary-center,
.heading-secondary {
    font-weight: 400;
    color: #2e1907;
    letter-spacing: -0.5px;
}

.heading-without-line,
.heading-primary-center,
.heading-primary-right,
.heading-primary-left,
.heading-primary {
    font-size: 4rem;
    margin-bottom: 5.2rem;
    line-height: 1.3;
    position: relative;
    padding-bottom: 1rem;
}

.heading-without-line {
    margin-bottom: 2rem;
    font-weight: 500;
}

.model-container {
    max-width: 100rem;
}

.heading-primary-right {
    text-align: end;
}

.heading-primary-center {
    margin: auto;
    text-align: center;
}

.heading-primary::after {
    content: "";
    position: absolute;
    left: 60%;
    bottom: -1rem;
    transform: translateX(-110%);
    width: 80%;
    height: 3px;
    background-color: #526D82;
    border-radius: 2px;
}

.heading-primary-right::after {
    content: "";
    position: absolute;
    left: 45%;
    bottom: -1rem;
    transform: translateX(4%);
    width: 80%;
    height: 3px;
    background-color: #526D82;
    border-radius: 2px;
}

.heading-primary-center::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -1rem;
    transform: translateX(-50%);
    width: 70%;
    height: 3px;
    background-color: #526D82;
    border-radius: 2px;
}

.heading-primary-left::after {
    content: "";
    position: absolute;
    left: 30%;
    bottom: -1rem;
    transform: translateX(-50%);
    width: 70%;
    height: 3px;
    background-color: #526D82;
    border-radius: 2px;
}

.product-container .heading-primary:first-of-type::after {
    width: 60%;
}

.about-us .heading-primary::after {
    left: 80%;
}

.about-us .heading-primary-right::after {
    left: 26%;
}

.heading-secondary {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.heading-tertiary {
    font-size: 2.6rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
    font-weight: 500;
    letter-spacing: -0.5px;
    text-align: left;
}

.border-img {
    border-radius: var(--radius-6);
    width: 100%;
}

.mt-3 {
    margin-top: var(--mt-3);
}

.mt-5 {
    margin-top: var(--mt-5);
}

.mt-8 {
    margin-top: var(--mt-8);
}

.mt-10 {
    margin-top: var(--mt-10);
}

/* ------------ End General ------------ */

/* ------------ Header ------------ */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 6rem;
    padding: 0 8.4rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09);
    transition: background-color 0.3s ease;
}

.home-page .header {
    background: transparent;
    box-shadow: none;
}

.header.scrolled {
    background: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09);
}

.header.scrolled .main-nav-link,
.header.scrolled .main-nav-link:visited {
    color: #000;
}

.header.scrolled .main-nav-link::after {
    background-color: black;
}

.header.scrolled .main-nav-link.nav-cta,
.header.scrolled .main-nav-link.nav-cta:visited {
    color: #000;
    border: 1px solid #000;
}

.header.scrolled .main-nav-link.nav-cta:hover,
.header.scrolled .main-nav-link.nav-cta:active {
    background-color: #000;
    color: #fff;
}

.logo {
    height: 3.2rem;
    transition: all 0.3s ease;
}

.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 1.8rem;
    position: relative;
    transition: all 0.3s;
}

.home-page .main-nav-link:link,
.home-page .main-nav-link:visited {
    color: #fff;
}

.main-nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1.5px;
    left: 0;
    bottom: -4px;
    background-color: black;
    transition: width 0.3s ease;
}

.home-page .main-nav-link::after {
    background-color: white;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #000;
}

.main-nav-link:hover::after,
.main-nav-link:active::after {
    width: 100%;
}

.nav-cta:link,
.nav-cta:visited {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 9px;
    color: #000;
    border: 1px solid #000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.home-page .main-nav-link.nav-cta:link,
.home-page .main-nav-link.nav-cta:visited {
    color: #fff;
    border: 1px solid #fff;
}

.main-nav-link.nav-cta:hover {
    color: #fff;
    background-color: #000;
}

.main-nav-link:active {
    color: #fff;
}

.home-page .main-nav-link.nav-cta:hover,
.home-page .main-nav-link.nav-cta:active {
    background-color: #fff;
    color: #000;
}

/* ---------- MOBILE ---------- */
.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #000;
    transition: color 0.3s ease;
}

.home-page .icon-mobile-nav {
    color: #fff;
}

.header.scrolled .icon-mobile-nav {
    color: #000;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}

.close-mob {
    color: #000 !important;
}

/* ---------- HERO SECTION ---------- */

.hero-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin-top: -7rem;
}

.hero-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.hero-content {
    position: absolute;
    z-index: 2;
    text-align: center;
    color: #fff;
    padding: 1rem;
    max-width: 70%;
}

.hero-title {
    font-size: 4.8rem;
    margin-bottom: 2.4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 500;
}

.hero-button {
    display: inline-block;
    padding: 1.6rem 2.8rem;
    border: 2px solid #fff;
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    font-weight: 500;
    border-radius: var(--radius-6);
    background-color: rgba(255, 255, 255, 0.2);
}

.hero-button:hover,
.hero-button:active {
    background-color: #fff;
    color: #000;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}

.hero-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -20rem;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 1800px) {
    .hero-social {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: -20rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-width: 1200px) {
    .hero-social {
        right: -20rem;
        top: 50%;
    }
}

.hero-social-icon {
    margin: 1rem 0;
    transition: transform 0.3s ease;
}

.hero-social-icon img {
    width: 35px;
    height: 35px;
}

.hero-social-icon:hover {
    transform: scale(1.1);
}

.hero-line {
    width: 2px;
    height: 50px;
    background-color: white;
    margin: 1rem 0;
}

/* For mobile devices */
@media (max-width: 767.98px) {
    .hero-title {
        font-size: 3.6rem;
    }

    .hero-button {
        font-size: 1.6rem;
    }

    .hero-content {
        max-width: 90%;
        padding: 1rem;
    }
}

/* ------------ End Hero ------------ */

/* ------------ About Us ------------ */

.grid-container-about__gallery {
    gap: 20px;
    margin: 4rem auto 5rem;
}

.grid-item-about__gallery {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 600px;
}

.grid-item-about__gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all 0.3s ease;
}

.content-about__gallery {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 2;
    text-align: center;
}

.content-about__gallery h3 {
    margin: 0;
    font-size: 5rem;
    line-height: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35); /* Затемнення зображення */
    transition: all 0.3s ease;
}

.about-us-section {
    margin-top: 4rem;
}

.text-about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-us-description {
    font-size: 2rem;
    line-height: 1.5;
    color: #4c4c4c;
    margin-top: 2rem;
}

.about-us-img img {
    max-width: 560px;
}

.arrow-button-left,
.arrow-button {
    display: inline-flex;
    align-items: center;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    margin-top: 5rem;
    color: #27374D;
}

.arrow-button-left:hover,
.arrow-button:hover {
    color: #9DB2BF;
}

.arrow-button-left::before,
.arrow-button::after {
    display: inline-block;
    transition: transform 0.3s ease;
}

.arrow-button::after {
    content: "→";
    margin-left: 0.5rem;
}

.arrow-button-left::before {
    content: "←";
    margin-right: 0.5rem;
}

.arrow-button:hover::after {
    transform: translateX(0.5rem);
}

.arrow-button-left:hover::before {
    transform: translateX(-0.5rem);
}

/* ------------ End About Us ------------ */

/* ------------ Parallax ------------ */

.parallax-section {
    margin-top: 10rem;
}

.parallax {
    background-image: url("../img/index/donatan-parallax.webp");
    height: 60vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.parallax-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.heading-parallax {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 400;
}

.parallax-button {
    display: inline-block;
    padding: 1.6rem 2.8rem;
    border: 2px solid #fff;
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-6);
}

.parallax-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    backdrop-filter: blur(10px);
    z-index: -1;
}

.parallax-button:hover,
.parallax-button:active {
    background-color: #fff;
    color: #000;
}

.content {
    height: 100%;
    background-color: white;
    text-align: center;
    padding: 50px;
}

/* Відключення паралакс-ефекту та встановлення іншого фону для мобільних пристроїв */
@media only screen and (max-width: 768px) {
    .parallax {
        background-attachment: scroll;
        background-image: url("../img/index/donatan-parallax.webp");
    }
}

/* ------------ End Parallax ------------ */

/* ------------ Gallery ------------ */

.gallery-button {
    display: inline-block;
    padding: 1.5rem 6rem;
    border: 2px solid #000000;
    text-decoration: none;
    background-color: #000;
    color: #ffffff;
    font-size: 2.4rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    font-weight: 500;
    border-radius: var(--radius-6);
}

.gallery-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    backdrop-filter: blur(6px);
    z-index: -1;
}

.gallery-button:hover,
.gallery-button:active {
    background-color: #ffffff;
    color: #000000;
}

/* ------------ End Gallery ------------ */

/* ------------ Section Catalog ------------ */

.catalog-section {
    margin-top: 6rem;
}

.grid-container__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 4rem;
}

.grid-item__gallery {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 400px;
}

.grid-item__gallery::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33%; /* Верхня третина */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    pointer-events: none;
}

.grid-item__gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all 0.3s ease;
}

.grid-item__gallery:hover img {
    filter: brightness(80%);
}

.content__gallery {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    z-index: 2;
}

.content__gallery h3 {
    margin: 0;
    font-size: 4.6rem;
}

.content__gallery p {
    margin: 5px 0 0;
    font-size: 1.6rem;
    line-height: 1.3;
}

/* ---------- Page Catalog ---------- */

.model-description {
    font-size: 2rem;
    padding-right: 10rem;
    line-height: 1.3;
    color: #4c4c4c;
}


.catalog-container {
    max-width: 160rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 5rem auto;
    padding: 0 1rem;
}

.grid-item {
    max-width: 320px;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    padding: 16px;
    transition: transform 0.3s ease;
}

.grid-item:hover {
    transform: scale(1.05);
    color: #9DB2BF;
}

.grid-item img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.product-title {
    font-size: 20px;
    font-weight: 400;
    margin: 18px 0;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.3;
    color: #fff;
    background-color: #27374D;
    border-radius: 15px;
    padding: 1.8rem 0;
    text-transform: uppercase;
}

.catalog-header {
    margin-top: 6rem;
}

.catalog-title {
    font-size: 5.2rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
    padding: 30px;
    text-align: center;
}

.catalog-container a {
    text-decoration: none;
    color: var(--black);
}

/* ------------ End Catalog ------------ */

/* ------------ Transformation Section ------------ */

.display-flex {
    display: flex;
    justify-content: space-between;
    max-width: 110rem;
    margin: 2rem auto 0;
}

.icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 12.4rem;
    gap: 6.4rem;
}

.icon-item {
    display: flex;
    max-width: 80px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
}

.icon-item p {
    margin-top: 1.6rem;
}

.icon-item img {
    transition: filter 0.3s ease-in-out;
}

.icon-item p {
    margin-top: 1.6rem;
    transition: color 0.3s ease-in-out;
}

.icon-item:hover {
    color: #9DB2BF;
}

/* ------------ End Transformation ------------ */

/* ------------ FAQs ------------ */

.faq-section {
    margin-top: 8rem;
}

[data-ripple] {
    position: relative;
    overflow: hidden;
}

.ripple-effect {
    position: absolute;
    border-radius: 9999px;
    animation: ripple-animation 2s;
}

@keyframes ripple-animation {
    from {
        transform: scale(1);
        opacity: 0.4;
    }
    to {
        transform: scale(100);
        opacity: 0;
    }
}

.aks-accordion {
    width: 80%;
    margin: 2rem auto;
}

.aks-accordion-item {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 12px;
    padding-left: 5px;
    cursor: pointer;
    font-size: 18px;
}

.aks-accordion-item-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.aks-accordion-item-icon {
    width: 25px;
    height: 25px;
    background: #000;
    border-radius: 9999px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    text-align: center;
}

.aks-accordion-item-icon svg {
    width: 15px;
    fill: white;
    margin: 0 auto;
}

.aks-accordion-item-title {
    width: 90%;
    text-align: left;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

.aks-accordion-item-title h4 {
    margin: 0;
}

.aks-accordion-item-content {
    display: none;
    padding: 12px 8px 0 42px;
    overflow: hidden;
    word-break: break-word;
    width: 88%;
    text-align: left;
    line-height: 1.5;
}

.aks-accordion-item.opened .aks-accordion-item-icon-open {
    display: none;
}

.aks-accordion-item-icon-close {
    display: none;
}

.aks-accordion-item.opened .aks-accordion-item-icon-close {
    display: block;
}

@media screen and (max-width: 500px) {
    .aks-accordion {
        width: 100%;
    }

    .aks-accordion-item-content {
        padding-left: 11px;
        width: 92%;
    }
}

.fixed-image-container {
    position: sticky;
    top: 0;
    align-self: flex-start;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

/* ------------ End FAQs ------------ */

/* ------------ Testimonials ------------ */

.testimonial {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 300px;
    text-align: center;
    flex: 1 1 calc(33.333% - 2rem);
}

.testimonial-text {
    margin-bottom: 3rem;
}

.testimonial-author {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.testimonial-author-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.author-name {
    font-weight: bold;
    margin: 0;
}

.author-rating {
    margin-top: 0.5rem;
    color: #f5c518;
}

/* ------------ Testimonial End ------------ */

/* ------------ Footer Section ------------ */

.footer {
    background-color: #0c0c0c;
    color: #f5f5f5;
    padding: 4rem 2rem;
    font-size: 1.8rem;
    margin: 10rem 1rem 1rem;
    border-radius: 8px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-top {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    border-bottom: 1px solid #444;
}

.footer-logo {
    max-width: 210px;
    margin-right: 2rem;
    color: #777777;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
}

.footer-nav a {
    color: #f5f5f5;
    text-decoration: none;
    transition: color 0.3s;
    position: relative;
}

.footer-nav a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #f5f5f5;
    transition: width 0.3s;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.footer-nav a:hover {
    color: #f5f5f5;
}

.footer-nav a:hover::after {
    width: 100%;
}

.contact-btn {
    background: none;
    border: 1px solid #f5f5f5;
    padding: 0.5rem 1rem;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.contact-btn a {
    color: #fff;
}

.footer-bottom {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2rem;
    font-size: 1.6rem;
}

.footer-bottom a {
    color: #f5f5f5;
    text-decoration: none;
    transition: color 0.3s;
    position: relative;
}

.footer-bottom a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #f5f5f5;
    transition: width 0.3s;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.footer-bottom a:hover {
    color: #f5f5f5;
}

.footer-bottom a:hover::after {
    width: 100%;
}

.footer-bottom-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

/* ------------ End Footer Section ------------ */

/* ---------------------------------------------- Detail Page ---------------------------------------------- */

/* ------------ Breadcrumb ------------ */
.breadcrumb {
    margin-top: 4rem;
    font-size: 2rem;
}

.breadcrumb a {
    text-decoration: none;
    padding: 0 0.6rem;
    color: #000;
    transition: all 0.3s;
}

.breadcrumb a:hover {
    color: #9DB2BF;
}

.active-stroller {
    color: #9DB2BF;
}

/* ------------ End Breadcrumb ------------ */

/* ------------ Mobile Gallery ------------ */

.swiper-container {
    width: 100%;
    height: auto;
    padding: 2rem;
    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    text-align: center;
    z-index: 10;
}

/* ------------ End Mobile Gallery ------------ */

/* ------------ Carousel ------------ */

.carousel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
}

.carousel {
    position: relative;
    width: 80%;
    max-width: 700px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    transition: opacity 0.5s ease;
    cursor: pointer;
}

.carousel-item img {
    width: 100%;
    display: block;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 20px;
    border: none;
    transition: background-color 0.3s ease;
    user-select: none;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgb(180, 180, 180);
}

.thumbnails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 20px;
}

.thumbnail {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
}

.thumbnail.active {
    border-color: #000;
}

.thumbnail:hover {
    border-color: #aaaaaa;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
}

.modal-content img {
    width: 100%;
    height: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.modal-control-prev,
.modal-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 20px;
    border: none;
    transition: background-color 0.3s ease;
    user-select: none;
}

.modal-control-prev:hover,
.modal-control-next:hover {
    background-color: rgb(180, 180, 180);
}

.close:hover {
    color: #fd7f7f;
}

.modal-control-prev {
    left: 10px;
}

.modal-control-next {
    right: 10px;
}

/* ------------ Carousel End ------------ */

/* ------------ Title Section ------------ */

.shop-page-wrapper {
    margin-top: 5rem;
}

.product-title-detail {
    font-size: 4rem;
    line-height: 1.3;
    margin: 0 0 5rem;
    font-weight: 500;
    color: #1a5319;
}

.product-description {
    font-size: 1.8rem;
    line-height: 1.6;
    color: #4c4c4c;
}

.availability {
    display: flex;
    align-items: center;
    color: #387F39;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2rem;
}

.checkmark {
    margin-right: 7px;
    width: 18px;
    height: auto;
}

/* ------------ End Title Section ------------ */

/* ------------ Color Carousel Section ------------ */

.color-gallery {
    text-align: center;
    margin-top: 4rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1.4rem;
    justify-content: center;
}

.gallery-item {
    text-align: center;
}

.gallery-item img {
    max-width: 70px;
    height: auto;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

.gallery-item p {
    margin-top: 0.5rem;
    font-size: 1.3rem;
}

.product-description ul li,
.features-text ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-size: 1.2rem;
    color: #333;
}

.features-section {
    margin-top: 8rem;
}

.features-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;
}

.features-text {
    flex: 1;
    min-width: 300px;
}

.product-description ul li,
.features-text ul li {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    position: relative;
    padding-left: 2rem;
}

.features-image {
    flex: 1;
    max-width: 45rem;
    text-align: center;
}

.features-image img {
    max-width: 100%;
}

.features-weight p {
    margin: 1rem 0;
    font-size: 1.7rem;
}

@media (max-width: 768px) {
    .features-grid {
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }
}

.features-text ul li::before {
    content: "";
    position: absolute;
    left: -1rem;
    top: 1rem;
    width: 0.8rem;
    height: 0.8rem;
    background-color: #27374D;
    border-radius: 50%;
}

.features-weight span {
    font-weight: 500;
    padding: 0 0.6rem;
}

.features-weight {
    list-style: none;
    margin-top: 3rem;
    font-size: 1.7rem;
    color: #333;
    padding-left: 5rem;
}

.features-weight li {
    display: flex;
    margin-bottom: 0.5rem;
    padding: 0.6rem;
}

.features-weight li::before {
    content: "•";
    margin-right: 0.5rem;
    color: green;
}

@media (max-width: 676px) {
    .gallery {
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
    }
}

/* ------------ End Color Carousel Section ------------ */

/* ------------ New Section ------------ */
.grid-detail {
    display: grid;
}

.detail-mob-vers {
    display: none;
}

.grid-template-detail {
    grid-template-columns: repeat(2, 1fr);
}

.heading-primary-detail-left,
.heading-primary-detail-right {
    font-size: 4rem;
    font-weight: 400;
}

.heading-primary-detail-left {
    text-align: start;
}

.heading-primary-detail-right {
    text-align: start;
}

.description-detail,
.text-about-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description-detail,
.text-about-detail p {
    font-size: 1.8rem;
    line-height: 1.5;
    color: #4c4c4c;
}

.description-detail,
.text-about-detail p:not(:first-child) {
    margin-top: 2rem;
}

.text-about-detail {
    padding: 2rem 5rem;
}

.detail-img-container img {
    width: 100%;
}

.detail-img {
    max-width: 500px;
    height: auto;
    display: block;
    object-fit: cover;
    margin: auto;
}

@media (max-width: 900px) {
    .about-us-description-detail {
        font-size: 16px;
    }

    .heading-primary-detail-left,
    .heading-primary-detail-right {
        font-size: 3.2rem;
    }

    .text-about-detail {
        padding: 2rem;
    }
}

@media (max-width: 750px) {
    .detail-pc-vers {
        display: none;
    }

    .detail-mob-vers {
        display: block;
    }
    .grid-template-detail {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .grid-detail {
        margin-top: 5rem;
    }

    .text-about-detail {
        padding: 0;
    }

    .heading-primary-detail-right {
        margin-bottom: 2rem;
    }

    .about-us-detail {
        padding: 1rem;
    }

    .about-us-detail .grid-detail:nth-child(1) .detail-img-container {
        order: 2;
    }

    .about-us-detail .grid-detail:nth-child(1) .text-about-detail {
        order: 1;
    }

    .about-us-detail .grid-detail:nth-child(1) .description-detail {
        order: 3;
    }

    .about-us-detail .grid-detail:nth-child(2) .detail-img-container {
        order: 5;
    }

    .about-us-detail .grid-detail:nth-child(2) .text-about-detail {
        order: 4;
    }

    .about-us-detail .grid-detail:nth-child(2) .description-detail {
        order: 6;
    }

    .about-us-detail .grid-detail:nth-child(3) .detail-img-container {
        order: 8;
    }

    .about-us-detail .grid-detail:nth-child(3) .text-about-detail {
        order: 7;
    }

    .about-us-detail .grid-detail:nth-child(3) .description-detail {
        order: 9;
    }

        .about-us-detail .grid-detail:nth-child(4) .detail-img-container {
        order: 11;
    }

    .about-us-detail .grid-detail:nth-child(4) .text-about-detail {
        order: 10;
    }

    .about-us-detail .grid-detail:nth-child(4) .description-detail {
        order: 12;
    }
}

/* ------------ About Us Animation ------------ */
.grid-detail {
    opacity: 0;
    transform: translateX(-60px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.grid-detail.slide-in {
    opacity: 1;
    transform: translateX(0);
}

/* ------------ End About Us Animation ------------ */

/* ------------ End New Section ------------ */

/* ------------ Detail Gallery ------------ */

.container__detail {
    margin: 6rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallery-container__detail-gallery {
    width: 100%;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
    position: relative; /* Add this */
}

.container__detail h3 {
    margin: 3rem;
    font-size: 4rem;
    font-weight: 400;
}

.main-image__detail-gallery {
    position: relative;
    z-index: 1; /* Ensure the image is above the navigation buttons */
}

.main-image__detail-gallery img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.nav-button__detail-gallery {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(131, 131, 131, 0.9);
    border: none;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
    z-index: 0;
    border: 1px solid #fff;
    color: #fff;
}

.nav-button__detail-gallery:hover {
    background-color: #27374D;
    color: #fff;
}

.prev__detail-gallery {
    left: 10px;
}

.next__detail-gallery {
    right: 10px;
}

.modal__detail-gallery {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.modal-content__detail-gallery {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.close__detail-gallery {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.modal-nav__detail-gallery {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 20px;
    color: #fff;
    background-color: rgba(206, 206, 206, 0.4);
    font-weight: bold;
    font-size: 20px;
    user-select: none;
    border-radius: 10px;
    border: 1px solid #fff;
}

.modal-prev__detail-gallery {
    left: 0;
}

.modal-next__detail-gallery {
    right: 0;
}

.hidden-detail {
    display: none;
}

/* ------------ End Detail Gallery ------------ */

/* ------------ Youtube Video Section ------------ */

.video-section {
    width: 100%;
    height: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------ End Youtube Video Section ------------ */

/* ------------- Detail Page Color Gallery ------------- */

.grid-item, .product-container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.grid-item.slide-in, .product-container.slide-in {
    opacity: 1;
    transform: translateY(0);
}

.carousel-container {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.carousel-container.slide-in {
    opacity: 1;
    transform: translateX(0);
}

.color-gallery {
    padding: 0 4rem 0 8rem;
}

.detail-color__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.detail-color-gallery {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1.4rem;
    justify-content: center;
    max-width: 100rem;
}

.detail-color-gallery img {
    width: 80px;
    cursor: pointer;
}

.detail-color-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.detail-color-modal-content {
    max-width: 100%;
    max-height: 100%;
}

.detail-color-close, .detail-color-prev, .detail-color-next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
    user-select: none;
    transform: translateY(-50%);
}

.detail-color-close {
    top: 20px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    transform: none;
}

.detail-color-prev {
    left: 0;
}

.detail-color-next {
    right: 0;
}

.detail-color-close:hover, .detail-color-prev:hover, .detail-color-next:hover {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.shop-page-wrapper .grid {
    gap: 0;
}

/* --------------------------- End Detail Page ------------------------------ */

/* --------------------------- Contacts Page -------------------------------- */

.contact-section {
    padding: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.contact-card {
    display: flex;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.contact-card img {
    width: 80px;
    height: 80px;
    margin-right: 1rem;
    vertical-align: middle;
}

.contact-card h3 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 2.4rem;
    color: #1a5319;
}

.contact-card p {
    margin: 0.6rem 0;
    font-size: 1.8rem;
    color: #000000;
}

.contact-card span {
    font-weight: 500;
}

.contact-card span a {
    text-decoration: none;
    color: #000;
}

.contact-form-container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form-container h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: #1a5319;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form .form-group {
    margin-bottom: 1.5rem;
}

.contact-form .form-group label {
    font-size: 1.4rem;
    color: #555;
    margin-bottom: 0.5rem;
    display: block;
    text-align: start;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form .form-group textarea {
    resize: vertical;
    height: 100px;
}

.contact-form .form-group input:focus,
.contact-form .form-group textarea:focus {
    outline: none;
    border-color: #333;
}

.contact-form .submit-btn {
    display: block;
    width: 100%;
    padding: 1.4rem;
    background: #333;
    border: none;
    color: #fff;
    font-size: 1.6rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact-form .submit-btn:hover {
    background: #555;
}

.contact-form .privacy-note {
    text-align: center;
    font-size: 0.9rem;
    color: #aaa;
    margin-top: 1rem;
}

.contact-form .privacy-note a {
    color: #333;
    text-decoration: none;
}

.contact-form .privacy-note a:hover {
    text-decoration: underline;
}

.map-container {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
}

.contact-flex {
    display: flex;
    margin-top: 1.4rem;
    gap: 2.4rem;
}

.contact-flex-column {
    display: flex;
    flex-direction: column;
}

/* ---------------------------End Contacts Page ----------------------------- */

/* ------------ Mobile Black Icon Phone ------------ */

.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease, background-color 0.3s ease;
    animation: pulse 1.5s infinite;
}

.floating-btn:hover {
    transform: scale(1.1);
    background-color: #333;
}

.floating-btn .icon {
    font-size: 24px;
}

.floating-btn img {
    z-index: 9999;
    width: 40px;
}

.floating-menu {
    position: fixed;
    bottom: 90px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    display: none;
    flex-direction: column;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}

.floating-menu.show {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}

.floating-menu a {
    color: #000;
    text-decoration: none;
    margin: 10px 0;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
    font-size: 1.6rem;
}

.floating-menu a:hover {
    color: #1a5319;
}

.floating-menu a img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.floating-menu a:hover img {
    transform: scale(1.1);
}

.floating-menu .close-btn {
    position: absolute;
    bottom: -70px;
    right: 0;
    background-color: #000;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.close-btn {
    width: 25px;
}

.floating-menu .close-btn:hover {
    transform: scale(1.1);
    background-color: #333;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* ///////////////////////////////Card Component/////////////////////////////////////////////// */


/* ------------ Responsive Mobile ------------ */

@media (max-width: 1200px) {
    .gallery {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 1080px) {
    .btn-mobile-nav {
        display: block;
    }

    .header {
        height: 6rem;
        padding: 0 2.6rem;
    }

    .home-page .main-nav-link:link,
    .home-page .main-nav-link:visited {
        color: #000;
    }

    .contact-section {
        grid-template-columns: 1fr;
    }

    .map-container {
        margin-top: 2rem;
    }

    .display-flex {
        flex-direction: column;
    }

    .display-flex {
        align-items: center;
    }

    .display-flex img {
        max-width: 95%;
    }

    .grid--3-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-nav {
        background-color: rgba(255, 255, 255, 0.97);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        transform: translateX(100%);

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }

    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }

    .main-nav-list {
        flex-direction: column;
        gap: 3.8rem;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: 3rem;
    }

    .about-us-img {
        justify-content: center;
        display: flex;
    }

    .grid--2-cols,
    .grid--2-cols-reverse {
        gap: 5rem;
    }

    .heading-without-line,
    .heading-primary-left,
    .heading-primary-right,
    .heading-primary-center,
    .heading-primary {
        margin-bottom: 3rem;
        font-size: 4rem;
    }

    .grid--6-cols {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4rem;
    }

    .contact-card img {
        width: 100px;
        height: 100px;
    }

    .half-section-image {
        display: none;
    }

    .display-icon__pc {
        display: none;
    }

    .hero-social {
        right: -10rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .detail-color-gallery {
        grid-template-columns: repeat(8, 1fr);
    }

}

@media (max-width: 960px) {
    .grid--2-cols-product {
        grid-template-columns: 1fr;
    }

    .features-grid {
        flex-direction: column;
    }

    .features-image {
        margin: auto;
    }

    .features-weight {
        padding-left: 0;
    }

    .color-gallery {
        padding: 0 2rem 0 3rem;
    }
}

@media (max-width: 945px) {
    .about-us-description {
        font-size: 1.8rem;
    }

    .grid--2-cols,
    .grid--2-cols-reverse {
        grid-template-columns: 1fr;
    }

    .about-us .grid:nth-child(1) .text-about-us {
        order: 1;
    }

    .about-us .grid:nth-child(1) .about-us-img {
        order: 2;
    }

    .about-us .grid:nth-child(2) .about-us-img {
        order: 4;
    }

    .about-us .grid:nth-child(2) .text-about-us {
        order: 3;
    }

    .about-us .grid:nth-child(3) .about-us-img {
        order: 6;
    }

    .about-us .grid:nth-child(3) .text-about-us {
        order: 5;
    }

    .aks-accordion {
        margin-top: 4rem;
    }

    .cols-testimonials {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 4.6rem;
    }

}

@media (max-width: 800px) {
    section:not(:first-of-type) {
        margin-top: 6rem;
    }

    .footer-logo {
        margin-top: 2rem;
    }

    .footer {
        font-size: 1.4rem;
    }

    .footer-nav ul {
        gap: 1.8rem;
    }

    .heading-without-line,
    .heading-primary-left,
    .heading-primary-right,
    .heading-primary-center,
    .heading-primary {
        font-size: 3.7rem;
    }

    .detail-color-gallery {
        grid-template-columns: repeat(7, 1fr);
    }
}

@media (max-width: 767px) {
    .grid-item {
        padding: 0;
    }

    .grid:not(:last-child) {
        margin-bottom: 3.8rem;
    }

    .grid-catalog {
        margin-top: 2rem;
    }

    .aks-accordion {
        margin-top: 0;
    }

    .grid-container__gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .detail-color-gallery {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 640px ) {
    .detail-color-prev, .detail-color-next {
        color: #000;
}

}

@media (max-width: 600px) {
    .grid--3-cols {
        grid-template-columns: 1fr;
    }

    .display-mob {
        display: block;
    }

    .display-pc {
        display: none;
    }

    .detail-color-gallery {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 570px) {
    .contact-flex {
        flex-direction: column;
    }

    .contact-card {
        gap: 3rem;
        flex-direction: column;
    }

    .product-description {
        font-size: 1.8rem;
    }

    .aks-accordion {
        margin-top: 0;
    }

    .features-list li {
        font-size: 1.6rem;
        line-height: 1.5;
        margin-bottom: 1rem;
        position: relative;
        padding-left: 2rem;
    }

    .nav-button__detail-gallery {
        padding: 10px;
    }

    .modal-nav__detail-gallery {
        padding: 10px 15px;
    }

    .detail-color-gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 500px) {
    .grid--6-cols {
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }

    .catalog-title {
        font-size: 4.6rem;
    }

    .display-flex {
        margin: 4rem auto 0;
    }

    section:not(:first-of-type) {
        margin-top: 4.6rem;
    }

    ul.accordion-list {
        padding: 0;
    }

    .catalog-title {
        font-size: 3.8rem;
    }

    .container {
        padding: 0 2rem;
    }

    .carousel-container {
        padding: 0;
    }

    .thumbnails {
        margin-right: 10px;
    }

    .thumbnail {
        width: 50px;
        height: 50px;
    }

    .carousel-item img {
        max-width: 95%;
    }

    .product-title-detail {
        font-size: 3rem;
    }

    .catalog-container {
        gap: 5rem;
    }

    .heading-without-line,
    .heading-primary-left,
    .heading-primary-right,
    .heading-primary-center,
    .heading-primary {
        font-size: 3.5rem;
    }

    .model-description {
        padding-right: 0;
    }
}

@media (max-width: 470px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }

    .breadcrumb {
        margin-top: 4rem;
        font-size: 1.8rem;
    }

    .breadcrumb a {
        color: #000;
    }

}

@media (max-width: 400px) {
    .heading-without-line,
    .heading-primary-left,
    .heading-primary-right,
    .heading-primary-center,
    .heading-primary {
        font-size: 3.3rem;
    }

    .features-weight {
        font-size: 1.5rem;
    }
}

/* ------------------------------------------------------ */

.gallery-container-mob-ss {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.gallery-mob-ss {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.gallery-mob-ss img {
    width: 100%;
    border-radius: 10px;
}

.dots-container-mob-ss {
    text-align: center;
    margin-top: 10px;
}

.dot-mob-ss {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active-mob-ss {
    background-color: #717171;
}

.prev-mob-ss, .next-mob-ss {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #787878;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next-mob-ss {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev-mob-ss:hover, .next-mob-ss:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* ---------- Animation ---------- */
@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.slide-in-right {
    animation: slideInFromRight 0.7s forwards;
    visibility: visible !important;
}

.slide-in-left {
    animation: slideInFromLeft 0.7s forwards;
    visibility: visible !important;
}
/*---------- End Animation ----------*/
.hero-title, .hero-button {
    opacity: 0;
    transform: translateY(80px);
    transition: opacity 2s ease, transform 2s ease;
}

.hero-title.slide-in, .hero-button.slide-in {
    opacity: 1;
    transform: translateY(0);
}

/*---------- load screeen ----------*/

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Досить високий, щоб перекрити весь інший контент */
}

.spinner {
    border: 16px solid #f3f3f3; /* Світлий колір для фону */
    border-top: 16px solid #27374D; /* Синій колір для верхньої частини */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*---------- End load screeen ----------*/
