{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %} {% endblock %}</title>
    <!-- SEO Meta -->
    <meta name="description" content="{% block meta %} {% endblock %}"/>
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{% block og_title %}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{% endblock %}">
    <meta property="og:url" content="{% block og_url %}{% endblock %}">
    <meta property="og:type" content="website">
    <!-- Structured data -->
    {% block structured_data %}
    {% endblock %}

    <!-- --------- Main CSS --------- -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

    <!-- --------- Preconnect to Google Fonts --------- -->
    <link
            href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap"
            rel="stylesheet"
    />
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/icons/logo/favicon_16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/icons/logo/favicon_32x32.png' %}">
    <link rel="icon" type="image/png" sizes="150x150" href="{% static 'img/icons/logo/favicon_150x150.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/icons/logo/favicon_192x192.png' %}">
        
    <link rel="apple-touch-icon" type="image/png" sizes="76x76" href="{% static 'img/icons/logo/apple-touch-icon_76x76.png' %}">
    <link rel="apple-touch-icon" type="image/png" sizes="120x120" href="{% static 'img/icons/logo/apple-touch-icon_120x120.png' %}">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{% static 'img/icons/logo/apple-touch-icon_180x180.png' %}">



    <style>
        {% block style %}
        {% endblock %}
    </style>
</head>

<body {% if '/' == request.path %} class="home-page"{% endif %}>
{% include 'includes/navbar.html' %}

<main>
    {% block content %}

    {% endblock %}
    {% include 'includes/mobile_icon_black.html' %}
    
    <div id="loading-screen">
        <div class="spinner"></div>
    </div>

</main>

{% include 'includes/footer.html' %}
<!-- --------- Icons --------- -->
<script
        src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
        defer
></script>

<!-- --------- JQuery --------- -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- --------- TweenMax --------- -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>


<!-- --------- Main Script --------- -->
<script src="{% static 'js/script.js' %}" defer></script>
<script>

{% block script %}

{% endblock %}

// ------------------------ Donatan Scripts  ------------------------

// --------------- Change Color Header --------------------------- >

// document.addEventListener("DOMContentLoaded", function () {
// const header = document.querySelector(".header");
// const heroSection = document.querySelector(".hero-section");
// const logo = document.querySelector(".logo");
// const burgerIcon = document.querySelector(".icon-mobile-nav");

// window.addEventListener("scroll", function () {
//     const heroHeight = heroSection.offsetHeight;

//     if (window.scrollY > heroHeight) {
//         header.classList.add("scrolled");
//         logo.src = "{% static 'img/icons/logo/donatan-black-logo.svg' %}";
//         burgerIcon.style.color = "#000";
//     } else {
//         header.classList.remove("scrolled");
//         logo.src = "{% static 'img/icons/logo/donatan-white-logo.svg' %}";
//         burgerIcon.style.color = "#fff"; // Білий колір іконки бургера
//     }
// });
// });

document.addEventListener("DOMContentLoaded", function () {
    const header = document.querySelector(".header");
    const heroSection = document.querySelector(".hero-section");
    const logo = document.querySelector(".logo");
    const burgerIcon = document.querySelector(".icon-mobile-nav");

    if (heroSection) {
        window.addEventListener("scroll", function () {
            const heroHeight = heroSection.offsetHeight;

            if (window.scrollY > heroHeight) {
                header.classList.add("scrolled");
                logo.src = "{% static 'img/icons/logo/donatan_black_logo-1.svg' %}"; // Шлях до чорного логотипу
                burgerIcon.style.color = "#000"; // Чорний колір іконки бургера
            } else {
                header.classList.remove("scrolled");
                logo.src = "{% static 'img/icons/logo/donatan_white_logo.svg' %}"; // Шлях до білого логотипу
                burgerIcon.style.color = "#fff"; // Білий колір іконки бургера
            }
        });
    } else {
        console.error("heroSection not found");
    }
});


// --------------- End Change Color Header --------------------------- >

(function () {
"use strict";
var jQueryPlugin = (window.jQueryPlugin = function (
    ident,
    func
) {
    return function (arg) {
        if (this.length > 1) {
            this.each(function () {
                var $this = $(this);

                if (!$this.data(ident)) {
                    $this.data(ident, func($this, arg));
                }
            });

            return this;
        } else if (this.length === 1) {
            if (!this.data(ident)) {
                this.data(ident, func(this, arg));
            }

            return this.data(ident);
        }
    };
});
})();

(function () {
"use strict";

function Accordion($roots) {
    var element = $roots;
    var accordion = $roots.first("[data-accordion]");
    var accordion_target = $roots.find("[data-accordion-item]");
    var accordion_content = $roots.find(
        "[data-accordion-content]"
    );
    $(accordion_target).click(function () {
        $(this).toggleClass("opened");
        $(this).find(accordion_content).slideToggle("slow");
        $(this)
            .siblings()
            .find(accordion_content)
            .slideUp("slow");
        $(this).siblings().removeClass("opened");
    });
}

$.fn.Accordion = jQueryPlugin("Accordion", Accordion);
$("[data-accordion]").Accordion();

function Ripple_Button($root) {
    var elements = $root;
    var ripple_btn = $root.first("[data-ripple]");
    $(ripple_btn).on("click", function (event) {
        event.preventDefault();
        var $div = $("<div/>"),
            btnOffset = ripple_btn.offset(),
            xPos = event.pageX - btnOffset.left,
            yPos = event.pageY - btnOffset.top;
        $div.addClass("ripple-effect");
        $div.css({
            height: ripple_btn.height(),
            width: ripple_btn.height(),
            top: yPos - $div.height() / 2,
            left: xPos - $div.width() / 2,
            background:
                ripple_btn.data("ripple") || "#ffffff26",
        });
        ripple_btn.append($div);

        window.setTimeout(function () {
            $div.remove();
        }, 2000);
    });
}

$.fn.Ripple_Button = jQueryPlugin(
    "Ripple_Button",
    Ripple_Button
);
$("[data-ripple]").Ripple_Button();
})();

//--------------- Loader --------------------------- >

document.addEventListener('DOMContentLoaded', () => {
    const elements = document.querySelectorAll('.grid-item, .product-container, .carousel-container');
    const loadingScreen = document.getElementById('loading-screen');
    
    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('slide-in');
                observer.unobserve(entry.target);
            }
        });
    }, { threshold: 0.1 });

    elements.forEach(element => {
        observer.observe(element);
    });
    
    setTimeout(() => {
        loadingScreen.style.display = 'none';
    }, 700); 
});

// ---------------End Loader --------------------------- >

// ------------------------ End Donatan Scripts  ------------------------
</script>
</body>
</html>
